.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: #49453E;
  font-size: 50px;
  font-weight: bolder;
}

.banner p {
  color: #49453E;
  opacity: 0.7;
  font-size: 20px;
  font-weight: bolder;
}
